In [1]:
import sqlite3 as s3
import sqlalchemy as sa
import pandas as pd

In [3]:
from sqlalchemy import create_engine

In [4]:
engine = create_engine('sqlite:///dane/sqlraw/test.db', echo=True)

In [5]:
conn = s3.connect('dane/sqlraw/test.db')

In [6]:
df1 = pd.read_csv('dane/sqlraw/uczniowie.csv')

In [7]:
df1

     Adam   Słodowy  1
0  Monika  Kowalska  2
1  Alicja    Osmala  2

In [8]:
conn =

ValueError: DataFrame constructor not properly called!